---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@font-face {
    font-family: 'HsSaemaul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

body, h1, h2, h3, h4, h5, h6, .site-title, .author__name, .author__avatar, .author__bio, .page__title {
  font-family: 'HsSaemaul', sans-serif !important;
}
