---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

/* 1. 폰트 정의 */
@font-face {
    font-family: 'HsSaemaul';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSSaemaul-Regular.woff') format('woff');
    font-weight: normal;
    font-display: swap;
}

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* 2. 사이트 전체 폰트 적용 */
body, h1, h2, h3, h4, h5, h6, .site-title, .author__name, .author__avatar, .author__bio, .page__title {
  font-family: 'HsSaemaul', sans-serif !important;
}

/* 3. 사이드바 프로필 영역 가운데 정렬 */
.sidebar.sticky .author__avatar,
.sidebar.sticky .author__name,
.sidebar.sticky .author__bio,
.sidebar.sticky .author__urls {
  text-align: center;
}

